<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>Servlet</display-name>

	<servlet>
		<servlet-name>SPARQL-Query</servlet-name>
		<servlet-class>cc.mannam.web.QueryRun</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SPARQL-Query</servlet-name>
		<url-pattern>/query</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserAccess</servlet-name>
		<servlet-class>cc.mannam.dublinchat.access.DB4UserAccess</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserAccess</servlet-name>
		<url-pattern>/access</url-pattern>
	</servlet-mapping>

</web-app>
