input,div,td,form,span,img, .cbody {margin:0}
body {color:#222222; font-family:Gulim}
td, div, textarea {font-size:9pt}
textarea {background-color:#FFFFFF}
textarea:hover, textarea:active {background-color:#FAFAFA}
input, select {font-family:Gulim; font-size:12px; letter-spacing:-1px}
.bdo {line-height:160%} /* 게시물본문 */
.bdo a:link {text-decoration:underline; color:#575757}
.bdo a:visited {text-decoration:underline; color:#575757}
.bdo a:hover {text-decoration:underline; color:#FF6633}
.gthumb_100 {width:95px; height:95px; border:5px solid #F1F1F1; padding:3px}
.gthumb_60 {float:left; width:60px; height:60px; margin-right:6px}
a {letter-spacing:0}
a:link {text-decoration:none; color:#222222}
a:visited {text-decoration:none; color:#222222}
a:hover {text-decoration:underline; color:#9A9487}
a:active {text-decoration:underline; color:#9A9487}
.m12 {width:80px; height:80px; float:left; margin-right:5px}
#bd_main, .head_view {text-align:left; table-layout:fixed; clear:both}
.head_all {width:100%; text-align:left; table-layout:fixed; clear:both; background:#F7FCFF; border:1px solid #0079A3}
.title_tr td {text-align:center; height:30px; background:url('t.png'); font-weight:bold; border-style:solid; border-color:#DCE8E6 #A1BDBC #A1BDBC #DCE8E6; border-width:1px}
.head_tr td {border-width:1px 0 1px 0}
.tbview {overflow:hidden; white-space:nowrap}
.title_tr td.title_td {padding:5px; font-weight:bold; height:20px; border:0; background:#F7FCFF}
.title_tr td.title_td div {padding:7px 7px 7px 20px; border:1px solid #7BBADC; background:#FFF url(../../icon/rb8.gif) no-repeat 5px 7px}
.title_tr a:link, .title_tr a:visited, .title_tr a:active, .title_tr a:hover {color:#3C3C3C}
.title_tr td.title_td,.title_tr td.title_td div {text-align:left}
.head_tr td.first {border-width:1px 0 1px 1px}
.head_tr td.list_th {border-width:1px 1px 1px 0}
#bd_main a.mbnick {font-size:11px}  /*목록회원닉*/
#bd_main a.nick {font-size:11px; color:#737373}  /*목록비회원닉*/
#bd_main marquee {color:#71B9FF}
.name {height:30px}
.bgd71 {background-color:#D7D7D7;height:1px}
.listcmt {display:none; width:100%; height:0}
.b_memo {vertical-align:top; padding:10px 10px 10px 20px}
.c_td {padding:8px 0 7px 0}
.c_thumb {width:120px}
.t8 {font-family:Dotum; font-size:11px}
.ct8 {font-family:Dotum; font-size:11px; color:#858585}
.ctgg {font-family:verdana,Dotum; font-size:11px; letter-spacing:-1px}
.f8 {font-family:Arial,Dotum; font-size:11px}
.r8 {font-family:verdana,Dotum; font-size:11px; letter-spacing:-1px; color:#FF6633}
.f7 {font-family:tahoma,Dotum; font-size:7pt; color:#858585}
.d7 {font-family:tahoma,Dotum; font-size:7pt; color:#C5D5E0}
.r7 {font-family:tahoma,Dotum; font-size:9px; color:#FF6633}
.t7 {font-family:verdana,Dotum; font-size:6pt; letter-spacing:-1px; color:#FF6633}
.w8 {font-size:11px; color:#858585}
td.w8 input {background:url('../../icon/b3.png') 0% 90%; font-size:8pt}
.dotm8 {font-size:8pt; font-family:Dotum}
.rb7 {font-size:9px; font-family:verdana,Dotum; font-weight:bold; color:#FF0000}
.gdate {font-size:9px; font-family:verdana,Dotum; padding:3px; font-weight:bold; color:#C9C9C9}
.n8 {font-family:verdana,Dotum; font-size:11px; letter-spacing:-1px; color:#AAAAAA}  /* 미리보기 글쓴이 */
.keyword {background-color:yellow; color:#C73636}
a.rpbt {float:left; cursor:pointer; text-align:center; background:url('../../icon/bt2.gif') no-repeat 0% 0%; padding-top:1px; width:17px; height:16px; margin-right:5px; text-decoration:none}
a.rpbt span {cursor:pointer; color:#414141; font-family:verdana,Dotum; font-size:11px}
a.rpbt img {border:0; padding-top:4px; height:8px; width:8px}
.rvote a, .rvote a:link, .rvote a:visited {color:#FF4F14; font-size:8pt; display:block; padding:4px; text-decoration:none}
.rvote a:hover, .rvote a:active {background:url('../../icon/b3.png'); text-decoration:none; padding:3px; border:1px solid #D7D7D7}
.rvote span {color:#444444; margin-right:3px}
.rvote img {margin-right:3px; padding-top:2px; height:10px; width:10px}
.gate_2 {padding:5px; border-bottom:1px solid #EEE; line-height:130%}
.gate_2 a.lnk {font-family:'Malgun Gothic'; font-size:14px; font-weight:bold; color:#6E6E6E}
.gate_2 .f7 {color:#999}
.gate_3 .f7 {color:#EC8600}
.gate_3 .r7 img {width:8px; height:8px}
.gate_2 .memo {font-family:Dotum; font-size:9pt; color:#888; line-height:16px; padding:2px 0 0 2px}
.gate_2 .gthumb_100 {float:left; margin-right:10px; width:85px; height:70px; padding:2px; margin-bottom:0px; border:1px solid #EEE}
.gate_2:hover {border:1px solid #A7BFD2; background:#FAFDFF; padding:4px 4px 5px 4px}
.gate_3 {width:120px; height:155px; float:left; text-align:center; cursor:pointer}
.gname a.nick {color:#54564B}
.sbjt_g {font-family:Gulim; font-size:9pt; border:0; letter-spacing:0; width:109px; margin-top:2px; padding:0; color:#000000; background-color:transparent; cursor:pointer}
.thumbdiv_150 {float:left; width:120px; height:190px; text-align:center; line-height:130%}
.thumbdiv_150 .nick {font-family:Dotum; font-size:11px; color:#2A8187}
.hr {height:1px; color:#9A9487}
.more {border-style:solid; border-width:0 0 3px 0; cursor:pointer}
.less {border-style:dashed; border-width:1px; padding:10px 10px 10px 20px}
.prev {position:absolute; z-index:3; background-color:#FFFFFF; padding:5px 10px 5px 10px; border:4px solid #8CB8FF; text-align:left; line-height:150%} /*글쓴이 클릭팝업*/
.prev div {width:80px}
.prev span {font-size:7px;color:#FF6633;vertical-align:middle}
.prev a {text-decoration:none; color:#000000}
.prev a:link,.prev a:visited {font-weight:normal}
.prev a:hover,.prev a:active {font-weight:bold}
.td12 {background-color:#D7D7D7; width:1px}
.pass {border-style:solid; border-width:6px; border-color:#F7F7F7 #878787 #878787 #F7F7F7; text-align:center; background-color:#EAEAEA}
#pview {z-index:8; position:absolute; top:0; left:0; width:300px; overflow:hidden; padding:5px; text-align:left; border:1px solid #878787; background-color:#FCFDFC}
#pview .gthumb_100 {border-color:#E6E6E6; float:left; margin:0 10px 10px 0}
#img {z-index:9; position:absolute; top:0; left:0; text-align:center}
.img {border-style:solid; border-width:6px; border-color:#F7F7F7 #878787 #878787 #F7F7F7; background-color:#FFFFFF}
.nobgcolor {background:none}
#login {background-color:#F7F7F7; padding:5px; text-align:right}
.login {width:80px; font-size:11px; border:0; border-width:0 0 1px 0; border-style:solid; border-color:black; background-color:#F7F7F7}
#tag {background-color:#F7F7F7; text-align:right}
.comment {width:100%; border-top:1px solid #D7D7D7; background-color:#F7F7F7; table-layout:fixed; padding:5px 0 5px 5px}
.comment .f8 {font-size:11px}
.sbmt {letter-spacing:1px; font-family:verdana,Gulim; margin-bottom:10px; font-size:13px; width:70px; height:50px; background:url('../../icon/c70.png'); border:0} /*코멘트쓰기버튼*/
.uplist {padding:10px 0 0 10px; width:98%}
.uplist a {font-family:verdana,Dotum; font-size:11px; letter-spacing:-1px}
.rsslink {font-family:Dotum; font-size:11px; color:#FF6633}
.tagg {text-align:left; padding:5px} /*본문에 태그*/
.tagg img {vertical-align:middle}
.tagg a {font-family:Dotum; font-size:11px}
.ctg {font-family:Dotum; font-size:9pt}
.hits {font-family:Dotum; font-size:9pt}
.count {font-size:9pt; margin-top:50px; text-align:center; font-family:verdana,Gulim; color:#FAFAFA}
.count a:link, .count a:visited, .count a:active, .count a:hover {color:#FAFAFA}
.bgcolor_1 {background-color:#F7F7F7}
.bgcolor_2 {background-color:#EAEAEA}
.quot {background-color:#F8F8F8; margin:40px 10px 0 30px; padding:10px; border:1px solid #B9B2AB}  /*답글에서 본문인용박스*/
.quot2 {border-top:1px dashed #B9B2AB; margin:5px}  /*답글에서 인용한본문*/
.p_no {color:#FF6633; font-weight:bold}
.sbjt_b {font-weight:bold}
.pervw {border-bottom:1px solid #E3E3E3; border-top:1px solid #E3E3E3; color:#2B2B2B; font-family:Dotum; font-size:12px; background-color:#FFFFFF; padding:3px 6px 6px 6px; line-height:125%}
.pervw:hover {background-color:#F1F9F9}
.lista_tr {text-align:center; background-color:#F7F7F7}
.lista_tr:hover {background-color:#FFF6D6}
.memo_c {vertical-align:top; padding-top:10px; padding-bottom:10px; max-height:91px; overflow:hidden; line-height:130%}
.btw {margin:0 5px 0 5px; color:#C9C9C9}
.icon {cursor:pointer; margin:1px}
.mblv {vertical-align:middle;margin-right:3px; border:0; height:12px}  /*회원레벨이미지*/
.icos {vertical-align: middle; margin-right: 3px; width:18px; height:18px; border:0}
.sign {border:1px solid #D7D7D7; padding:5px; margin:5px 0 5px 0} /*본문글쓴이 서명*/
.rptb {border:1px solid #E3E3E3; padding:7px 0 7px 30px; margin:5px 0 5px 0; color:#666666}
.cbody a.nick, .cbody .nick {font-family:verdana,Gulim; color:#3B5C44}
.rpname .v8 {color:#666681}
.rplnkb {color:#77D04D; font-size:9pt; font-weight:bold; text-decoration:underline}
.rpmemo {line-height:140%; padding-top:3px; min-height:37px}
.rrpw {clear:both; display:none; margin-left:25px}
.rpdiv {border:0; margin:5px 0 5px 0; padding:7px 0 7px 7px; border-top:1px solid #E3E3E3}
.rrpdiv {border:0; padding:7px 0 7px 7px; background-color:#F7F7F7}
.seltdrp {background:#FDF9D2}
.name_b {background-color:#F2F5F4; height:25px; font-family:Arial}
.name_c {background-color:#F2F5F4; height:20px; padding-top:5px; font-family:Arial}
.name_d {background-color:#F2F5F4; height:25px; border-top:1px solid #A1BDBC; font-family:Arial}
.rpatb {border-top:1px solid #A1BDBC; padding:5px}
.cart {height:14px; width:14px; margin:0; padding:0; vertical-align:middle}  /*관리자체크박스*/
.buttcell {height:32px; vertical-align:bottom}
.buttcell a {background:url('../../icon/bt.gif') no-repeat 0% 0%; padding-left:5px; margin:2px 0 0 5px; height:22px; text-decoration:none}
.buttcell a:link, .buttcell a:visited, .buttcell a:hover,.buttcell a:active {text-decoration:none}
.buttcell span {float:left; background:url('../../icon/bt.gif') no-repeat 100% 0%; cursor:pointer; height:17px; padding:5px 7px 0 3px; color:#222222}
.buttcell span:active {height:16px; padding:6px 6px 0 4px}
a.butt4 {float:left}
a.butt5 {float:right}
.abcg {border:0 solid #878787; width:15px; height:13px; vertical-align:middle}
.abcg:active, .aabcg:active img {border-width:1px; width:13px; height:11px}
.pageno {font-family:Dotum; font-size:11px; color:#D6D6D6; text-align:center;letter-spacing:1px}
.pageno a {color:#4B4B4B}
.lkgif, .lkgif:link, .lkgif:visited {vertical-align:middle; height:13px; border:0}
.lkgif:hover, .lkgif:active  {height:15px}
/* 탭형태 최근게시물 시작 */
.tab_top {font-weight:bold; height:30px; z-index:1; padding-right:10px}
.tab_top .tab_head {float:left; border-top:1px solid #0079A3; border-right:1px solid #0079A3; height:28px; position:relative; top:1px; margin-right:0px; cursor:pointer; z-index:2}
.tab_top .tab_head .first {border-left:1px solid #0079A3}
.tab_top .tab_head div {float:left; height:20px; font-size:9pt; padding:8px 12px 0 12px}
.tab_top .tab_head a {text-decoration:none}
.tab_list {width:100%; table-layout:fixed; padding:5px 0 5px 0}
.tab_top .theado a {color:#222222}
.tab_top .theado div {height:23px; background:#F7FCFF}
.tab_top .theadx div {background:#FFF}
.tlistx {display:none}
.tlisto {display:block}
.tab_div {clear:both; padding:4px; background:#F7FCFF; border:1px solid #0079A3; line-height:20px; overflow:hidden}
.tab_div .gthumb_100 {margin:0 13px 8px 5px}
/* 탭형태 최근게시물 끝*/
/* 뉴스형 최근게시물 시작*/
table.newx_1 {}
.newx_1 td {vertical-align:top}
.newx_3 {height:130px; overflow:hidden}
.newx_4 {padding:2px 0 10px 0; line-height:26px}
.newx_4 a {font-family:'Malgun Gothic'; font-size:24px; font-weight:bold; color:#000063}
.newx_2 img {width:180px; height:180px; border:4px solid #FFF; margin:10px}
.newx_2 img:hover {border-color:#FF871B}
.newx_5 {color:#989898}
.newx_6 .gthumb_100 {width:60px; height:60px; border:4px solid #F0F0F0; cursor:pointer; margin:0 4px 4px 4px; float:left}
.newx_6 .gthumb_100h {border-color:#FF871B}
.newx_6 {height:70px}
/* 뉴스형 최근게시물 끝*/
.ipc {float:left; margin-right:5px; color:#CCCCCC}
.d7d {color:#D7D7D7}

#bdo-1 .authority {margin:30px auto}
.bdo .pass {border:5px solid #F1F1F1; background:#FFF; padding:8px}
.authority .pass {border:0; background:#FFF; padding:8px}
.memo_c .authority {margin-top:1px}
#srgate div.nobr {height:20px}
.gthumb_100:hover,.gthumb_100ie6 {border-color:#FF871B; cursor:pointer}