.bbody {background:#CCD8E0 url(beautiful-day/bg.jpg) repeat-x left bottom;}
.cbody {background-color:#FAFAFA}
.menu20 {margin-top:15px; text-align:left}
.menu20 td {vertical-align:top}
.menu20 .menu40 {clear:both; padding:7px 0 0 10px; text-align:left; overflow:hidden; line-height:15px}
.menu20 .entry-content div {overflow:hidden; white-space:nowrap; width:98%}
.menu20 .entry-content div.link {background: url(../icon/arw.gif) no-repeat left center; padding-left:4%; width:94%}
.menu20 .entry-content div a:link, .menu20 .entry-content div a:visited {text-decoration:none}
.menu20 .entry-content div a:hover, .menu20 .entry-content div a:active {text-decoration:none; color:#145DAA}
.menu20 .menu40 input {font-family:Gulim; font-size:9pt; height:15px; letter-spacing:0}
.menu20 .menu40 span {cursor:pointer; margin:2px}
.menu20 form.shform {margin:0; padding:7px 0 7px 0}
.menu20 form.shform input.find {width:75%; height:16px; padding:2%}
.menu20 .menu40 form.shform input.srbt {width:13%; height:24px}
input.search {background:#FEFEFE url('../icon/b1.gif'); border:0; border-right:1px solid #BEBDBE; border-left:1px solid #D1D1D1; font-family:Gulim; font-size:9pt; height:20px; cursor:pointer}
.menu52 {border:0}
.menu20 .menu50 a {display:block; font-size:12px; font-family:Gulim; font-size:9pt}
.menu20 .menu50 a.linK,.menu20 .menu50 a.linK:link,.menu20 .menu50 a.linK:hover,.menu20 .menu50 a.linK:visited,.menu20 .menu50 a.linK:active {border:1px solid #B8B8B8; background:#FAFAFA; text-decoration:none; padding:7px 0 0 20px; height:17px; color:#222222; text-align:left; margin:1px 0 1px 0}
.menu20 .menu50 a.thbd,.menu20 .menu50 a.thbd:link,.menu20 .menu50 a.thbd:hover,.menu20 .menu50 a.thbd:visited,.menu20 .menu50 a.thbd:active {background:#F7F7F2}
.menu20 .menu50 a.linK:hover {border:0; height:19px; background:url(beautiful-day/nav.gif) 0% 100%; color:#FFF}
.menu20 .menu50 a.linK:hover span {color:#FFF}
.menu20 .menu50 a.heaD,.menu20 .menu50 a.heaD:link,.menu20 .menu50 a.heaD:hover,.menu20 .menu50 a.heaD:visited,.menu20 .menu50 a.heaD:active {border:0; text-decoration:none; height:19px; border-top:1px solid #AFBEC7; background:url(beautiful-day/nav.gif) 0% 100%; color:#456; font-weight:bold; text-align:center; padding:7px 0 0 0}
.menu20 .menu50 div.secc div {display:none}
.menu20 .menu50 div.secc:hover div {display:block}
.menu20 .menu60 {padding:0; border:0}
.menu20 .menu70 {padding:0; border:0; height:0}
.menu20 .center10 {padding-top:3px; padding-bottom:10px; text-align:center}
#st_visitor {padding:5px 0 5px 40px}
#st_visitor a,#st_visitor a:link,#st_visitor a:hover {display:block; padding-top:0; padding-bottom:4px; height:16px; color:#222; border:0}
.menu20 .menu40 .gthumb_100 {width:75px; height:75px; border:3px solid #F0F0F0; margin:0 3px 3px 0}
.menu20 .menu40 .gthumb_100:hover {border-color:#FF871B}
.menutg {clear:both; padding:7px 0 0 10px}
.menu20 .menu25 {height:33px}
.menu20 .menu_title {border-bottom:3px solid #EAEADA}
.menu20 .menuone div, .menu20 .menu_title div {font-size:12px; font-family:'Malgun Gothic',Dotum; letter-spacing:-1px; font-weight:bold; padding-top:8px; height:22px}
.menu20 .menuon {float:left; color:#5A5A43; width:49.9%}
.menu20 .menuoff {float:left; color:#BCBCBC; width:49.9%; border-color:#FFFFF4}
.menu20 .menuone, .menuone div {color:#5A5A43}
.small {font-family:tahoma,Gulim; font-size:11px; color:#BABABA}
.menu20 .calendar {width:94%}
.menu20 .calendar td {text-align:center; padding-top:4px}
.menu20 .calendar .date {background-color:#FFFFFF}
.menu20 .calendar .isdoc {border:1px solid #C7C7C7; padding-top:3px; cursor:pointer}
.menu20 .calendar .thisdoc {border:1px solid #FF6633; background-color:#FFFAD9; padding-top:3px; cursor:pointer}
.dh_allmenu {display:block}
#sectiongroup .sctgrp div {color:#A6B3BB}
#sectiongroup a,#sectiongroup a:link, #sectiongroup a:visited, #sectiongroup a:hover, #sectiongroup a:active {color:#89969E}
.menu20 .menu15 {border:1px dotted #BDBDBD}
.bx_login .menu30,.bx_profile .menu30 {padding:15px 0 15px 0}
.plus {border:0; background-color:#FFFFFF; color:#145DAA; width:15px; height:14px; margin:3px 3px 3px 0; font-size:10pt}

#nav {position:relative; ; z-index:7;	background:#D9E1E5 url(beautiful-day/nav.gif);	border: 1px solid #DFEEF7; border-color: #DFEEF7 #CFDEE7;	height: 41px}
#section {padding:0; margin:auto; list-style-type:none; text-align:center}
#section a {display:block; text-decoration:none; font-size:9pt; cursor:pointer}
#section li {padding-top:0px}
#section li a.trigger span {display:block; height: 26px; background:#D9E1E5 url(beautiful-day/nav.gif) repeat-x left top; color:#445566; font-weight:bold; border-right: 1px solid #AFBEC7; padding:15px 19px 0 19px}
#section li {float:left; width:auto; text-decoration:none; display:inline}
#section ul {list-style-type:none; position:absolute; display:none; width:130px; background:#D9E1E5 url(beautiful-day/bg.jpg) repeat-x 100% 0%; border:1px solid #AFBEC7; padding:0; margin:0}
#section ul li {margin:0; background:none; line-height:31px; vertical-align:middle; text-align:left}
#section ul li a {padding:3px 12px 3px 16px; color:#000000; width:102px}
#section li:hover a.trigger span, #section li.active a.trigger span, #section li a.tregger span {background-position:left bottom; color:#234}
#section li:hover a.trigger {color:#234; background:none}
#section li:hover ul {display:block}
#section ul li:hover a, #section ul li.iesix a {background:#D9E1E5 url(beautiful-day/nav.gif) 100% 100%; color:#445566}


.stbLR {background-color:#F7F7F2; padding:10px 10px 20px 10px}
#stL {border-right:5px solid #FFFFFF}
#stbC {padding-top:10px; padding-bottom:10px; background-color:#FAFAFA}
#stR {border-left:5px solid #FFFFFF}
#srboard, .container, .srmgat {background-color:#FFFFFF; border:0; padding:0 10px 0 10px; margin:0 auto 0 auto; text-align:left}
.brace {font-size:11px; color:#145DAA; float:right; text-align:right; padding-right:15px}
.floatleft {float:left}
.analdv {background:url(beautiful-day/header.jpg) repeat 100% 100%; padding-top:2px; font-family:tahoma,Gulim; font-size:7pt; color:#FFFFFF; text-align:center}
.top {
	background: url(beautiful-day/clouds.gif) repeat-x;
	padding-top:50px;
	margin:0;
}

/* title */
.header {
	background:#A4A4A0 url(beautiful-day/header.jpg) repeat-x;
	font-size: 1.2em;
	height: 150px;
	color: #FFF;
	margin:0;
	padding:0;
}
.header .left {
	font: normal 35px "Trebuchet MS",sans-serif;
	line-height: 150px;
	padding-left:50px;
	float:left;
}
.header .right {
	background:#A4A4A0;
	overflow: auto;
	width: 212px;
	float:right;
}
.header .right p,.header .right h2 {padding: 0 16px;}
.header .right h2 {padding-top: 16px; font: normal 1.6em "Trebuchet MS",sans-serif;}
.header a {color:#FFF}
#footer {
	background: url(beautiful-day/bgfooter.gif) repeat-x;
	color: #FFF;
	font: bold 1em sans-serif;
	line-height: 39px;
	text-align: center;
}
#footer a,#footer a:hover {color: #FFF}