.menu20 {margin-top:15px; text-align:left}
.menu20 td {vertical-align:top}
.menu20 .menu40 {clear:both; padding:7px 0px 0px 10px; text-align:left; overflow:hidden; line-height:15px}
.menu20 .entry-content div {overflow:hidden; white-space:nowrap; width:98%}
.menu20 .entry-content div a:link, .menu20 .entry-content div a:visited {text-decoration:none}
.menu20 .entry-content div a:hover, .menu20 .entry-content div a:active {text-decoration:none; color:#145DAA}
.menu20 .menu40 input {font-family:Gulim; font-size:9pt; height:15px; letter-spacing:0}
.menu20 .menu40 span {cursor:pointer; margin:2px}
.menu20 form.shform {margin:0; padding:7px 0 7px 0}
.menu20 form.shform input.find {width:75%; height:16px; padding:2%}
.menu20 .menu40 form.shform input.srbt {width:13%; height:24px}input.search {background:#FEFEFE url('../icon/b1.gif'); border:0; border-right:1px solid #BEBDBE; border-left:1px solid #D1D1D1; font-family:Gulim; font-size:9pt; height:20px; cursor:pointer}
.menu52 {border:0}
.menu20 .menu50 a {display:block; font-size:12px; font-family:Gulim; font-size:9pt}
.menu20 .menu50 a.linK,.menu20 .menu50 a.linK:link,.menu20 .menu50 a.linK:hover,.menu20 .menu50 a.linK:visited,.menu20 .menu50 a.linK:active {border:1px solid #B8B8B8; background:#FAFAFA; text-decoration:none; padding:7px 0 0 20px; height:17px; color:#222222; text-align:left; margin:1px 0 1px 0}
.menu20 .menu50 a.thbd,.menu20 .menu50 a.thbd:link,.menu20 .menu50 a.thbd:hover,.menu20 .menu50 a.thbd:visited,.menu20 .menu50 a.thbd:active {background:#F0F0F0}
.menu20 .menu50 a.linK:hover {border:0; height:19px; background:url('default.png') repeat-x 50% 0%; color:#FFF}
.menu20 .menu50 a.linK:hover span {color:#FFF}
.menu20 .menu50 a.heaD,.menu20 .menu50 a.heaD:link,.menu20 .menu50 a.heaD:hover,.menu20 .menu50 a.heaD:visited,.menu20 .menu50 a.heaD:active {border:0; text-decoration:none; height:19px; background:url('default.png') repeat-x 50% 0%; color:#FFF; text-align:center; padding:7px 0 0 0}
.menu20 .menu50 div.secc div {display:none}
.menu20 .menu50 div.secc:hover div {display:block}
.menu20 .menu60 {font-size:0; background:url('bgwg_2.gif') repeat-y 0% 0%}
.menu20 .menu70 {font-size:0; background:url('bgwg_3.gif') no-repeat 0% 100%; height:6px}
.menu20 .center10 {padding-top:3px; padding-bottom:10px; text-align:center}
#st_visitor {padding:5px 0 5px 40px}
#st_visitor a,#st_visitor a:link,#st_visitor a:hover {display:block; padding-top:0; padding-bottom:4px; height:16px; color:#222; border:0}
.menu20 .menu40 .gthumb_100 {width:75px; height:75px; border:3px solid #F0F0F0; margin:0 3px 3px 0}
.menu20 .menu40 .gthumb_100:hover {border-color:#FF871B}
.menutg {clear:both; padding:7px 0 0 10px}
.menu20 .menu30 {background:url('bgwg_2.gif') repeat-y 0% 0%; text-align:center}
.menu20 .menu25 {height:29px; background:#FFFFFF url('bgwg_1.png') no-repeat 0% 0%}
.menu20 .menu_title, .menu20 .menu_title div {font-size:12px; font-weight:bold; text-align:center; cursor:pointer}
.menu20 .menuon {float:left; color:#145DAA; width:49.9%}
.menu20 .menuoff {float:left; color:#B8B8B8; width:49.9%}
.menu20 .menuoff div, .menuone div {height:19px; padding-top:10px}
.menu20 .menuon div {background-color:#FFFFFF; border:1px solid #CCCCCC; border-bottom-width:0; width:83px; height:18px; padding-top:5px}
.menu20 .menuon div.meleft {margin:5px 0 0 15px}
.menu20 .menuon div.meright {margin:5px 15px 0 0}
.menu20 .menuone {color:#145DAA}
.small {font-family:tahoma,Gulim; font-size:11px; color:#BABABA}
.menu20 .calendar {width:94%}
.menu20 .calendar td {text-align:center; padding-top:4px}
.menu20 .calendar .date {background-color:#F6F6F6}
.menu20 .calendar .isdoc {border:1px solid #C7C7C7; padding-top:3px; cursor:pointer}
.menu20 .calendar .thisdoc {border:1px solid #FF6633; background-color:#FFFAD9; padding-top:3px; cursor:pointer}
.dh_allmenu {display:block}
/*section group*/
#sectiongroup .sctgrp div {border-top:2px solid #6294D5; float:right; padding-top:5px; color:#C2D8ED; text-align:right}
#sectiongroup a,#sectiongroup a:link, #sectiongroup a:visited, #sectiongroup a:hover, #sectiongroup a:active {color:#25568A}
.bx_login,.bx_profile {border:0}
.bx_login .menu60,.bx_profile .menu60 {font-size:0; background:url('bgwg_2.gif') repeat-y 0% 0%}
.bx_login .menu70,.bx_profile .menu70 {font-size:0; border:0; padding:0; background:url('bgwg_3.gif') no-repeat 0% 100%; height:6px}
.bx_login .menu70 div,.bx_profile .menu70 div {border:0; height:0}
.menu15 {background:url('bgwg_1.gif') no-repeat 0% 0%; padding-top:8px}
.bx_login .menu30 {padding:5px 0 10px 0}
.bx_profile .menu30 {padding:10px 0 10px 0}
.plus {border:0; background-color:#FFFFFF; color:#145DAA; width:15px; height:14px; margin:3px 3px 3px 0; font-size:10pt}
#section_title {height:45px; margin:0; background:url('default.png') no-repeat 0% 0%; padding-left:15px}
#section_form {background:url('default.png') no-repeat 100% 0%; width:170px}
#section_form input {height:17px; border:0}
#section_title div {float:left; text-align:center; font-size:9pt; font-family:Gulim; cursor:pointer; font-weight:bold; margin-top:10px; padding:9px 13px 5px 13px; height:20px}
.stt1 {color:#D9F9F9}
.stt1:hover {color:#ABEBFF}
.stt2 {padding:5px 12px 6px 12px; color:#373737; border-top:1px solid #008CC4; border-left:1px solid #008CC4; border-right:1px solid #008CC4; background-color: #FFFFFF}
.sect_btw {margin-top:18px; border-style:solid; border-color:#39579C #6294D5 #6294D5 #39579C; border-width:1px; height:15px; float:left; width:1px}
.sect_btw2 {margin-top:15px; height:15px; float:left; width:3px}
#section_bd {background:url('default.png') no-repeat 0% 100%; height:33px; text-align:left;vertical-align:top; padding-left:15px; margin-bottom:15px}
#section_bd .right {background:url('default.png') no-repeat 100% 100%}
#sub_bd {color:#002436; font-size:9pt; padding:6px 0 5px 30px}
.secbd_btw {border-style:solid; border-color:#C2D2DE #F7F7F7 #F7F7F7 #C2D2DE; border-width:1px; background-color:#FFFFFF; margin:0 10px 0 10px; height:12px; width:1px; vertical-align:middle}

.stbLR {background-color:#FAFAFA; padding:0 15px 20px 15px}
#stbC {padding-top:10px}
#stbC {padding-bottom:20px}
.brace {font-size:11px; color:#145DAA; float:right; text-align:right; padding-right:15px}
.floatleft {float:left}
.analdv {background-color:#4C72B1; border-top:2px solid #2C6AE9; font-family:tahoma,Gulim; font-size:7pt; color:#FFFFFF; text-align:center}
#footer {color:#8B8B8B}
#footer div, #footert div {background:url('default.png') no-repeat; float:left; height:30px; padding-top:15px; padding-bottom:10px}
#footer .left {background-position:0% 100%}
#footer .middle {background-position:50% 100%; text-align:center}
#footer .right {background-position:100% 100%;}
#footer a {color:#95ABD1}
#footert div {padding:0; height:7px}
#footert .left {background-position:0% 0%}
#footert .right {background-position:100% 0%}