.menu20 {margin-top:15px; text-align:left}
.menu20 td {vertical-align:top}
.menu20 .menu40 {clear:both; padding:7px 0px 0px 10px; text-align:left; overflow:hidden; line-height:15px}
.menu20 .entry-content div {overflow:hidden; white-space:nowrap; width:98%}
.menu20 .entry-content div a:link, .menu20 .entry-content div a:visited {text-decoration:none}
.menu20 .entry-content div a:hover, .menu20 .entry-content div a:active {text-decoration:none; color:#145DAA}
.menu20 .menu40 input {font-family:Gulim; font-size:9pt; height:15px; letter-spacing:0}
.menu20 .menu40 span {cursor:pointer; margin:2px}
.menu20 form.shform {margin:0; padding:7px 0 7px 0}
.menu20 form.shform input.find {width:75%; height:16px; padding:2%}
.menu20 .menu40 form.shform input.srbt {width:13%; height:24px}
input.search {background:#FEFEFE url('../icon/b1.gif'); border:0; border-right:1px solid #BEBDBE; border-left:1px solid #D1D1D1; font-family:Gulim; font-size:9pt; height:20px; cursor:pointer}
.menu52 {border:0}
.menu20 .menu50 a {display:block; font-size:12px; font-family:Gulim; font-size:9pt}
.menu20 .menu50 a.linK,.menu20 .menu50 a.linK:link,.menu20 .menu50 a.linK:hover,.menu20 .menu50 a.linK:visited,.menu20 .menu50 a.linK:active {border:1px solid #B8B8B8; background:#FAFAFA; text-decoration:none; padding:7px 0 0 20px; height:17px; color:#222222; text-align:left; margin:1px 0 1px 0}
.menu20 .menu50 a.thbd,.menu20 .menu50 a.thbd:link,.menu20 .menu50 a.thbd:hover,.menu20 .menu50 a.thbd:visited,.menu20 .menu50 a.thbd:active {background:#F0F0F0}
.menu20 .menu50 a.linK:hover {border:0; height:19px; background:url('default3.png') repeat-x 0% 0%; color:#FFF}
.menu20 .menu50 a.linK:hover span {color:#FFF}
.menu20 .menu50 a.heaD,.menu20 .menu50 a.heaD:link,.menu20 .menu50 a.heaD:hover,.menu20 .menu50 a.heaD:visited,.menu20 .menu50 a.heaD:active {border:0; text-decoration:none; height:19px; background:url('default3.png') repeat-x 0% 0%; color:#FFF; text-align:center; padding:7px 0 0 0}
.menu20 .menu50 div.secc div {display:none}
.menu20 .menu50 div.secc:hover div {display:block}
.menu20 .menu60 {font-size:0; background:url('bgwg_2.gif') repeat-y 0% 0%}
.menu20 .menu70 {font-size:0; background:url('bgwg_3.gif') no-repeat 0% 100%; height:6px}
.menu20 .menu15 {background:url('bgwg_1.png') no-repeat 0% 0%; padding-top:8px}
.menu20 .center10 {padding-top:3px; padding-bottom:10px; text-align:center}
#st_visitor {padding:5px 0 5px 40px}
#st_visitor a,#st_visitor a:link,#st_visitor a:hover {display:block; padding-top:0; padding-bottom:4px; height:16px; color:#222; border:0}
.menu20 .menu40 .gthumb_100 {width:75px; height:75px; border:3px solid #F0F0F0; margin:0 3px 3px 0}
.menu20 .menu40 .gthumb_100:hover {border-color:#FF871B}
.menutg {clear:both; padding:7px 0 0 10px}
.menu20 .menu30 {background:url('bgwg_2.gif') repeat-y 0% 0%; text-align:center}
.menu20 .menu25 {height:29px; background:#FFFFFF url('bgwg_1.png') no-repeat 0% 0%}
.menu20 .menu_title, .menu20 .menu_title div {font-size:12px; font-weight:bold; text-align:center; cursor:pointer}
.menu20 .menuon {float:left; color:#145DAA; width:49.9%}
.menu20 .menuoff {float:left; color:#B8B8B8; width:49.9%}
.menu20 .menuoff div, .menuone div {height:19px; padding-top:10px}
.menu20 .menuon div {background-color:#FFFFFF; border:1px solid #CCCCCC; border-bottom-width:0; height:18px; padding-top:5px}
.menu20 .menuon div.meleft {margin:5px 0 0 15px}
.menu20 .menuon div.meright {margin:5px 15px 0 0}
.menu20 .menuone {color:#145DAA}
.small {font-family:tahoma,Gulim; font-size:11px; color:#BABABA}
.menu20 .calendar {width:94%}
.menu20 .calendar td {text-align:center; padding-top:4px}
.menu20 .calendar .date {background-color:#F6F6F6}
.menu20 .calendar .isdoc {border:1px solid #C7C7C7; padding-top:3px; cursor:pointer}
.menu20 .calendar .thisdoc {border:1px solid #FF6633; background-color:#FFFAD9; padding-top:3px; cursor:pointer}
.dh_allmenu {display:block}
/*section group*/
#sectiongroup .sctgrp div {border-top:2px solid #6294D5; float:right; padding-top:5px; color:#C2D8ED; text-align:right}
#sectiongroup a,#sectiongroup a:link, #sectiongroup a:visited, #sectiongroup a:hover, #sectiongroup a:active {color:#25568A}
.bx_login,.bx_profile {}
.bx_login .menu30 {padding:5px 0 10px 0}
.bx_profile .menu30 {padding:10px 0 10px 0}
.plus {border:0; background-color:#FFFFFF; color:#145DAA; width:15px; height:14px; margin:3px 3px 3px 0; font-size:10pt}

#nav {position:relative; background:#636363 url('default.png') no-repeat 0% 0%; width:100%; height:43px; text-align:center; z-index:7; clear:both}
#fleft {float:left; width:20px}
#section {float:left; padding:0; margin:auto; list-style-type:none; text-align:center}
#section a {display:block; text-decoration:none; padding:3px 15px 12px 15px; color:#ffffff; font-size:9pt; font-weight:normal; cursor:pointer}
#section li {float:left; width:auto; text-decoration:none; display:inline}
#section li a.trigger {padding:16px 23px 0 23px; height:28px; border-top:1px solid #A0AFD1; font-weight:bold; color:#D6E8FF}
#section li a.trigger a:link, #section li a.trigger a:visited {color:#D6E8FF}
#section ul {list-style-type:none; position:absolute; width:130px; display:none; border:1px solid #5A82BB; border-top:0; background-color:#FBFBFB; padding:0; margin:0 0 0 -1px}
#section ul li {margin:0; background:none; line-height:31px; vertical-align:middle; text-align:left}
#section ul li a {color:#000000; border-right:0; padding:3px 12px 3px 16px; width:102px}
#section li:hover a.trigger, #section li a.tregger {color:#272626; background:#FBFBFB url(../icon/b.png) repeat-x}
#section li:hover ul {display:block}

#section ul li:hover a, #section ul li.iesix a {background:url('default.png') no-repeat 50% 13%!important; color:#FFFFFF!important}
#section_form {float:right; background:#fff url('default.png') no-repeat 100% 0%; height:43px; width:170px}
#section_form input {height:16px; border:0; margin-top:14px}

#belowsect {background-color:#F7F7F7; border:1px solid #A8BAD9; padding:6px 6px 0 12px; height:18px; font-family:Dotum; letter-spacing:-1px}
#belowsect a:link, #belowsect a:visited, #belowsect a:hover, #belowsect a:active {margin:0 3px 0 3px; color:#5E5E5E; text-decoration:none; font-size:8pt; font-family:Dotum}


.stbLR {background-color:#FFFFFF; padding-bottom:20px}
#stbC {padding-top:15px}
.brace {font-size:11px; color:#145DAA; float:right; text-align:right; padding-right:15px}
.floatleft {float:left}
.analdv {background-color:#4C72B1; border-top:2px solid #2C6AE9; font-family:tahoma,Gulim; font-size:7pt; color:#FFFFFF; text-align:center}
#footer div {background:#636363 url('default.png'); padding-top:10px; padding-bottom:10px}
#footer .left {float:left; background-position:0% 0%}
#footer .right {float:right; background-position:100% 0%}
#bottom {clear:both; background:#F7F7F7; border:1px solid #D4D4D4; border-top:0; color:#5676B0; padding-top:10px; margin-bottom:20px; height:20px; text-align:center}
#bottom a {color:#E0E0E0}