.bbody {background:#FFF url('slide3.jpg') repeat-x 0% 0%}
.menu20 {margin-top:15px; text-align:left}
.menu20 td {vertical-align:top}
.menu20 .menu40 {clear:both; padding:7px 0 0 10px; text-align:left; overflow:hidden; line-height:15px}
.menu20 .entry-content div {overflow:hidden; white-space:nowrap; width:98%}
.menu20 .entry-content div a:link, .menu20 .entry-content div a:visited {text-decoration:none}
.menu20 .entry-content div a:hover, .menu20 .entry-content div a:active {text-decoration:none; color:#145DAA}
.menu20 .menu40 input {font-family:Gulim; font-size:9pt; height:15px; letter-spacing:0}
.menu20 .menu40 span {cursor:pointer; margin:2px}
.menu20 form.shform {margin:0; padding:7px 0 7px 0}
.menu20 form.shform input.find {width:75%; height:16px; padding:2%}
.menu20 .menu40 form.shform input.srbt {width:13%; height:24px}
input.search {background:#FEFEFE url('../icon/b1.gif'); border:0; border-right:1px solid #BEBDBE; border-left:1px solid #D1D1D1; font-family:Gulim; font-size:9pt; height:20px; cursor:pointer}
.menu52 {border:0}
.menu20 .menu50 a {display:block; font-size:12px; font-family:Gulim; font-size:9pt}
.menu20 .menu50 a.linK,.menu20 .menu50 a.linK:link,.menu20 .menu50 a.linK:hover,.menu20 .menu50 a.linK:visited,.menu20 .menu50 a.linK:active {border:1px solid #B8B8B8; background:#FAFAFA; text-decoration:none; padding:7px 0 0 20px; height:17px; color:#222222; text-align:left; margin:1px 0 1px 0}
.menu20 .menu50 a.thbd,.menu20 .menu50 a.thbd:link,.menu20 .menu50 a.thbd:hover,.menu20 .menu50 a.thbd:visited,.menu20 .menu50 a.thbd:active {background:#F0F0F0}
.menu20 .menu50 a.linK:hover {border:0; height:19px; background:url(slide3.jpg) repeat-x 0% 100%; color:#FFF}
.menu20 .menu50 a.linK:hover span {color:#FFF}
.menu20 .menu50 a.heaD,.menu20 .menu50 a.heaD:link,.menu20 .menu50 a.heaD:hover,.menu20 .menu50 a.heaD:visited,.menu20 .menu50 a.heaD:active {border:0; text-decoration:none; height:19px; background:url(slide3.jpg) repeat-x 0% 100%; color:#FFF; text-align:center; padding:7px 0 0 0}
.menu20 .menu50 div.secc div {display:none}
.menu20 .menu50 div.secc:hover div {display:block}
.menu20 .menu60 {padding:0; border:0}
.menu20 .menu70 {padding:0; border:0; height:0}
.menu20 .center10 {padding-top:3px; padding-bottom:10px; text-align:center}
#st_visitor {padding:5px 0 5px 40px}
#st_visitor a,#st_visitor a:link,#st_visitor a:hover {display:block; padding-top:0; padding-bottom:4px; height:16px; color:#222; border:0}
.menu20 .menu40 .gthumb_100 {width:75px; height:75px; border:3px solid #F0F0F0; margin:0 3px 3px 0}
.menu20 .menu40 .gthumb_100:hover {border-color:#FF871B}
.menutg {clear:both; padding:7px 0 0 10px}
.menu20 .menu25 {height:40px}
.menu20 .menu_title {border-bottom:2px solid #64A900}
.menu20 .menuone div,.menu20 .menu_title div {font-size:12px; font-weight:bold; padding-top:8px; height:24px}
.menu20 .menuon {float:left; color:#525251; width:49.9%}
.menu20 .menuoff {float:left; color:#ADADAD; width:49.9%; border-color:#ADADAD}
.menu20 .menu_title div.meleft {margin-right:2px}
.menu20 .menu_title div.meright {margin-left:2px}
.menu20 .menuone {color:#525251; width:100%}
.small {font-family:tahoma,Gulim; font-size:11px; color:#BABABA}
.menu20 .calendar {width:94%}
.menu20 .calendar td {text-align:center; padding-top:4px}
.menu20 .calendar .date {background-color:#FFFFFF}
.menu20 .calendar .isdoc {border:1px solid #C7C7C7; padding-top:3px; cursor:pointer}
.menu20 .calendar .thisdoc {border:1px solid #FF6633; background-color:#FFFAD9; padding-top:3px; cursor:pointer}
.dh_allmenu {display:block}
#sectiongroup .sctgrp div {float:right; color:#64A900; border-top:2px solid #599401; padding-right:5px 3px 0 3px}
#sectiongroup a,#sectiongroup a:link, #sectiongroup a:visited, #sectiongroup a:hover, #sectiongroup a:active {color:#5E9C00}
.bx_login,.bx_profile {border:1px dotted #8ED924}
.bx_login .menu30,.bx_profile .menu30 {padding:15px 0 15px 0}
.plus {border:0; background-color:#FFFFFF; color:#145DAA; width:15px; height:14px; margin:3px 3px 3px 0; font-size:10pt}

#nav {position:relative; width:100%; padding-top:52px; height:30px; text-align:center; z-index:7; clear:both}
#section {padding:0; margin:auto; list-style-type:none; text-align:center}
#section a {display:block; text-decoration:none; font-size:9pt; font-weight:normal; cursor:pointer}
#section li {float:left; width:auto; text-decoration:none; display:inline}
#section li a.trigger {padding:7px 23px 5px 23px; height:16px; color:#ffffff}
#section ul {list-style-type:none; position:absolute; width:130px; display:none; border:1px solid #91DA28; border-top:0; background-color:#FBFBFB; padding:0; margin:0}
#section ul li {margin:0; background:none; line-height:31px; vertical-align:middle; text-align:left}
#section ul li a {color:#000000; background:none; color:#565656; padding:3px 12px 3px 16px; width:102px}
#section li:hover a.trigger, #section li a.tregger {color:#272626; background-color:#FBFBFB}
#section li:hover ul {display:block}
#section ul li:hover a, #section ul li.iesix a {background-color:#79CC00!important; color:#FFFFFF!important}

#belowsect {position:relative; padding:5px; font-family:Dotum; letter-spacing:-1px}
#belowsect a:link, #belowsect a:visited, #belowsect a:hover, #belowsect a:active {margin:0 3px 0 3px; color:#5E5E5E; text-decoration:none}


#srboard .stbLR,#srboard #stbC {vertical-align:top}
.stbLR {margin-top:15px; background-color:#FFFFFF; padding-bottom:20px}
#stbL {background:#fff url('genericblue/a1.gif') top right repeat-y; padding-right:10px}
#stbC {padding:25px 0 10px 0}
#stbR {background:#fff url('genericblue/a2.gif') top left repeat-y; padding-left:10px}
.brace {font-size:11px; color:#145DAA; float:right; text-align:right; padding-right:15px}
.floatleft {float:left}
.analdv {background-color:#466297; border-top:2px solid #2C6AE9; font-family:tahoma,Gulim; font-size:7pt; color:#FFFFFF; text-align:center}
#footer {background:#7ACF00 url(slide3.jpg); color:#FFFFFF; padding-top:20px; text-align:center; height:60px}
#footer a {color:#437300}
#DB32 {position:absolute;top:80px;left:0;background:#96DB32;width:100%;height:12px;font-size:1px}