.bbody {background:#3C424C url(thefences/img01.jpg) repeat-x left top}
.menu20, #stbC {margin-bottom: 20px; padding:10px; background:#FFFFFF; border:1px solid #8D9AB0}
.menu20 .menu10,.menu20 .menu15,.menu50 {background:url(thefences/img05.jpg) repeat-x left top}
.menu20 .menu15 {background-position:0px -30px; padding-top:10px}
.menu20 td {vertical-align:top}
.menu20 .menu40 {clear:both; padding:10px 0 0 10px; text-align:left; overflow:hidden; line-height:15px}
.menu20 .entry-content div {overflow:hidden; white-space:nowrap; width:98%}
.menu20 .entry-content div.link {background: url(thefences/img07.jpg) no-repeat left center; padding-left:5%; width:93%}
.menu20 .entry-content div a:link, .menu20 .entry-content div a:visited {text-decoration:none}
.menu20 .entry-content div a:hover, .menu20 .entry-content div a:active {text-decoration:none; color:#145DAA}
.menu20 .menu40 input {font-family:Gulim; font-size:9pt; height:15px; letter-spacing:0}
.menu20 .menu40 span {cursor:pointer; margin:2px}
.menu20 form.shform {margin:0; padding:7px 0 7px 0}
.menu20 form.shform input.find {width:75%; height:16px; padding:2%}
.menu20 .menu40 form.shform input.srbt {width:13%; height:24px}
input.search {background:#FEFEFE url('../icon/b1.gif'); border:0; border-right:1px solid #BEBDBE; border-left:1px solid #D1D1D1; font-family:Gulim; font-size:9pt; height:20px; cursor:pointer}
.menu20 .menu50 {margin:0}
.menu20 .menu50 a {display:block; font-size:12px; font-family:Gulim; font-size:9pt}
.menu20 .menu50 a.linK,.menu20 .menu50 a.linK:link,.menu20 .menu50 a.linK:hover,.menu20 .menu50 a.linK:visited,.menu20 .menu50 a.linK:active {border:1px solid #B8B8B8; background:#FAFAFA; text-decoration:none; padding:7px 0 0 20px; height:17px; color:#222222; text-align:left; margin:1px 0 1px 0}
.menu20 .menu50 a.thbd,.menu20 .menu50 a.thbd:link,.menu20 .menu50 a.thbd:hover,.menu20 .menu50 a.thbd:visited,.menu20 .menu50 a.thbd:active {background:#C1EAF7}
.menu20 .menu50 a.linK:hover {border:0; height:19px; background:#11A6D4; color:#FFF}
.menu20 .menu50 a.linK:hover span {color:#FFF}
.menu20 .menu50 a.heaD,.menu20 .menu50 a.heaD:link,.menu20 .menu50 a.heaD:hover,.menu20 .menu50 a.heaD:visited,.menu20 .menu50 a.heaD:active {text-decoration:none; border:0; height:25px; font-size:12px; font-weight:bold; cursor:pointer; color:#FFF; padding-top:13px}
.menu20 .menu50 div.secc div {display:none}
.menu20 .menu50 div.secc:hover div {display:block}
.menu20 .menu60 {padding:0; border:0}
.menu20 .menu70 {padding:0; border:0; height:0}
.menu20 .center10 {padding-top:3px; padding-bottom:10px; text-align:center}
#st_visitor {padding:5px 0 5px 40px}
#st_visitor a,#st_visitor a:link,#st_visitor a:hover {display:block; padding-top:0; padding-bottom:4px; height:16px; color:#222; border:0}
.menu20 .menu40 .gthumb_100 {width:75px; height:75px; border:3px solid #F0F0F0; margin:0 3px 3px 0}
.menu20 .menu40 .gthumb_100:hover {border-color:#FF871B}
.menutg {clear:both; padding:10px 0 0 10px}
.menu20 .menu25 {height:38px}
.menu20 .menu_title {padding-top:13px; height:25px; text-align:center}
.menu20 .menuone div, .menu20 .menu_title div {font-size:12px; font-weight:bold; cursor:pointer}
.menu20 .menuoff {float:left; background:#56B3D1; color:#99D0EE; width:49.9%}
.menu20 .menuon {float:left; color:#FFFFFF; width:49.9%}
.menu20 .menuone {color:#FFFFFF}
.small {font-family:tahoma,Gulim; font-size:11px; color:#BABABA}
.menu20 .calendar {width:94%}
.menu20 .calendar td {text-align:center; padding-top:4px}
.menu20 .calendar .date {background-color:#FFFFFF}
.menu20 .calendar .isdoc {border:1px solid #C7C7C7; padding-top:3px; cursor:pointer}
.menu20 .calendar .thisdoc {border:1px solid #FF6633; background-color:#FFFAD9; padding-top:3px; cursor:pointer}
.dh_allmenu {display:block}
#sectiongroup .sctgrp div {float:right; width:auto}
#sectiongroup span {float:left; font-size:1px; color:#319FDC; width:8px}
#sectiongroup a {float:left; font-size:8pt; background:url(thefences/img05.jpg) repeat-x 0% 50%; padding:3px 3px 0 3px; height:15px; border:1px solid #9ED4F0}
#sectiongroup a,#sectiongroup a:link, #sectiongroup a:visited, #sectiongroup a:hover, #sectiongroup a:active {text-decoration:none; color:#FFFFFF}
.bx_login, .bx_profile {}
.menu20 .menu30 {padding-top:10px; padding-bottom:10px}
.plus {border:0; background-color:#FFFFFF; color:#145DAA; width:15px; height:14px; margin:3px 3px 3px 0; font-size:10pt}

#nav {position:absolute; top:0px; z-index:7}
#section {margin:0; padding:0; list-style-type:none; height:51px; text-align:center}
#section a {display:block; width:auto; text-decoration:none; font-size:9pt; font-weight:normal; cursor:pointer}
#section li {float:left; width:auto; text-decoration:none; display:inline; margin-left:2px; background: url(thefences/img04.jpg) no-repeat;}
#section li.first {background:none}
#section li a.trigger {padding:12px 18px 0 20px; height:38px}
#section li a.trigger span {font-size:14px; color: #515F6B; font-weight: bold; font-family:'Malgun Gothic'}
#section ul {list-style-type:none; position:absolute; z-index:7; text-align:left; width:140px; display:none; background:#F5F9FC; border:4px solid #3C424C; border-top:0; padding:0; margin:0 0 0 -3px}
#section ul li {margin:0; background:none; line-height:31px; vertical-align:middle; text-align:left}
#section ul li a, #section ul li a:link {color:#005476; padding-top:3px; padding-bottom:3px; padding-left:12px; width:128px}
#section li:hover a.trigger span, #section li.active a.trigger span, #section li a.tregger span {color:#62B6E5}
#section li:hover a.trigger {color:#11A6D4; background:none}
#section li:hover ul {display:block}
#section ul li:hover a, #section ul li.iesix a {background-color:#ABEAFF!important; font-weight:bold}

.brace {font-size:11px; color:#145DAA; float:right; text-align:right; padding-right:15px}
.floatleft {float:left}
.analdv {background:#11A6D4; padding-top:2px; font-family:tahoma,Gulim; font-size:7pt; color:#FFFFFF; text-align:center}

#srboard {background:#C1D6E2 url(thefences/img03.jpg) repeat-x left bottom; padding:10px 15px 80px 15px; margin:0 auto 0 auto}



h1, h2, h3 {
	margin: 0;
}

#logo {
	font-family: Arial, Helvetica, sans-serif;
	height: 140px;
	margin: 0 auto;
	background: url(thefences/img02.jpg) no-repeat;
	margin:0;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	text-transform: lowercase;
	font-weight: normal;
	color: #FFFFFF;
}

#logo p {
	margin-top: -4px;
	text-transform: lowercase;
	font-size: 13px;
	color: #F6F9FB;
}

#logo h1 {
	font-size: 48px;
}

#logo a {
	text-decoration: none;
	color: #F6F9FB;
}

#logo h1 a {
	text-decoration: none;
	color: #FFFFFF;
}
#footer p {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 30px 0px 50px 0px;
	text-align: center;
	line-height: normal;
	text-transform: uppercase;
	font-size: 10px;
	color: #C7DAE5;
}

#footer a {color:#639CBF}