
/* Galleria Classic Theme 2012-08-07 | https://raw.github.com/aino/galleria/master/LICENSE | (c) Aino */

.ui-dialog .ui-widget-content {
     padding: none;
}

#galleria-loader {
     height:1px!important
}

.content {

}

#countryname, #region {
     font-size:15px;
     font-weight: bold;
}

p {
     margin:0 0 20px
}

/* This rule is read by Galleria to define the gallery height: */
#galleria {
     height:610px;
     background-image:url(../graphics/country_gradiant_back.jpg);
     background-position: top;
     background-repeat: repeat-x;
}

.galleria-container {
     width: 960px;
     height: 610px;
     overflow: none;
}

.galleria-container img {
     -moz-user-select: none;
     -webkit-user-select: none;
     -o-user-select: none;
}

.galleria-stage {
     position: absolute;
     top: 30px;
     bottom: 100px;
     left: 10px;
     right: 10px;
     overflow:hidden;
     height: 370px;
}

.galleria-thumbnails-container {
     height: 50px;
     bottom: 0;
     position: absolute;
     left: 10px;
     right: 10px;
     z-index: 2;
     padding-top: 14px;
     padding-left: 10px;
     background-image:url(../../../../graphics/country_gradiant_back.jpg);
     background-position: top;
     background-repeat: repeat-x;
}

.galleria-carousel .galleria-thumbnails-list {
     margin-left: 30px;
     margin-right: 30px;
}

.galleria-thumbnails .galleria-image {
     height: 40px;
     width: 60px;
     background: #000;
     margin: 0 5px 0 0;
     border: 1px solid #000;
     float: left;
     cursor: pointer;
}

.galleria-counter {
     position: absolute;
     bottom: 5px;
     left: 20px;
     text-align: right;
     color: #000;
     font: normal 11px/1 arial, sans-serif;
     z-index: 1;
     font-size: 13px;
}

.galleria-loader {
     background: #000;
     width: 20px;
     height: 20px;
     position: absolute;
     top: 10px;
     right: 10px;
     z-index: 2;
     display: none;
     background: url(classic-loader.gif) no-repeat 2px 2px;
}

.galleria-info {
 width: 200px  top: 15px;
     /*left: 15px;*/
    z-index: 2;
     position: absolute;
}

.galleria-info-text {
     background-image:url(../graphics/country_gradiant_back.jpg);
     background-position: top;
     background-repeat: repeat-x;
    padding: 12px;
     display: none;
     width: 970px;
     height: 120px;
     overflow: none;
     position: relative;
     top: 390px;
     /*right: -37px;*/
/*    border: 1px solid #666;*/

    /* IE7 */ zoom:1;
}

.galleria-info-title {
     font: bold 12px/1.1 arial, sans-serif;
     margin: 0;
     color: #fff;
     margin-bottom: 7px;
}

.galleria-info-description {
     font: normal 11px/1.4 arial, sans-serif;
     margin: 0;
     width: 965px;
     overflow: none;
     letter-spacing: 0.05em;
}

.galleria-info-close {
     width: 9px;
     height: 9px;
     position: absolute;
     top: 15px;
     right: -486px;
     background-position: -753px -11px;
     opacity: .5;
     filter: alpha(opacity=50);
     cursor: pointer;
     display: none;
     background-color: #999;
     padding: 5px;
}

.notouch .galleria-info-close:hover {
     opacity:1;
     filter: alpha(opacity=100);
}

.touch .galleria-info-close:active {
     opacity:1;
     filter: alpha(opacity=100);
}

.galleria-info-link {
     background-position: -669px -5px;
     opacity: .7;
     filter: alpha(opacity=70);
     /*position: absolute;*/
    position: relative;
     top: 500px;
     right: -950px;
     width: 20px;
     height: 20px;
     cursor: pointer;
     background-color: #000;
}

.notouch .galleria-info-link:hover {
     opacity: 1;
     filter: alpha(opacity=100);
}

.touch .galleria-info-link:active {
     opacity: 1;
     filter: alpha(opacity=100);
}

.galleria-image-nav {
     position: absolute;
     top: 50%;
     margin-top: -62px;
     width: 100%;
     height: 62px;
     left: 0;
}

.galleria-image-nav-left, .galleria-image-nav-right {
     opacity: .3;
     filter: alpha(opacity=30);
     cursor: pointer;
     width: 59px;
     height: 124px;
     position: absolute;
     left: 10px;
     z-index: 2;
     background-position: 0 46px;
}

.galleria-image-nav-right {
     left: auto;
     right: 10px;
     background-position: -257px 46px;
     z-index: 2;
}

.notouch .galleria-image-nav-left:hover, .notouch .galleria-image-nav-right:hover {
     opacity: 1;
     filter: alpha(opacity=100);
     background-color: none;
}

.touch .galleria-image-nav-left:active, .touch .galleria-image-nav-right:active {
     opacity: 1;
     filter: alpha(opacity=100);
}

.galleria-thumb-nav-left, .galleria-thumb-nav-right {
     cursor: pointer;
     display: none;
     background-position: -495px 20px;
     position: absolute;
     left: 0;
     top: 0;
     height: 57px;
     width: 23px;
     z-index: 3;
     opacity: .8;
     filter: alpha(opacity=80);
}

.galleria-thumb-nav-right {
     background-position: -578px 20px;
     border-right: none;
     right: 0;
     left: auto;
}

.galleria-thumbnails-container .disabled {
     opacity: .2;
     filter: alpha(opacity=20);
     cursor: default;
}

.notouch .galleria-thumb-nav-left:hover, .notouch .galleria-thumb-nav-right:hover {
     opacity: 1;
     filter: alpha(opacity=100);
     background-color: none;
}

.touch .galleria-thumb-nav-left:active, .touch .galleria-thumb-nav-right:active {
     opacity: 1;
     filter: alpha(opacity=100);
     background-color: none;
}

.notouch .galleria-thumbnails-container .disabled:hover {
     opacity: .2;
     filter: alpha(opacity=20);
     background-color: transparent;
}

.galleria-carousel .galleria-thumb-nav-left, .galleria-carousel .galleria-thumb-nav-right {
     display: block;
}

.galleria-thumb-nav-left, .galleria-thumb-nav-right, .galleria-info-link, .galleria-info-close, .galleria-image-nav-left, .galleria-image-nav-right {
     background-image:url(classic-map.png);
     background-repeat: no-repeat;
}
.galleria-thumblink, .galleria-fullscreen, .galleria-play, .galleria-popout {
    background: url(thumbs.png) no-repeat scroll 50% 50% transparent;
    bottom: 1px;
    cursor: pointer;
    height: 29px;
    left: 0;
    position: absolute;
    width: 29px;
}
.galleria-fullscreen, .galleria-popout {
    background-image: url((fullscreen.png);
    background-position: 8px 7px;
    left: auto;
    right: 0;
}
.galleria-popout {
    background-image: url("popout.png");
    background-position: 50% 50%;
    right: 30px;
}
.galleria-play {
    background-image: url("playpause.png");
    background-position: 10px 9px;
    left: 30px;
}
.galleria-play.playing {
    background-position: 10px -91px;
}
.galleria-fullscreen.open {
    background-position: 8px -93px;
}
.galleria-bar {
    background: url("bar.png") repeat-x scroll 0 0 transparent;
    bottom: 0;
    height: 31px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 3;
}

