ARTICLE, ASIDE, AUDIO, BB, CANVAS, DATAGRID, DATALIST, DETAILS, DIALOG, FIGURE, FOOTER, HEADER, MARK, MENU, METER, NAV, OUTPUT, PROGRESS, SECTION, TIME, VIDEO {
    display: block;
}

HTML, BODY, DIV, SPAN, APPLET, OBJECT, IFRAME, H1, H2, H3, H4, dd, H6, P,
BLOCKQUOTE, PRE, A, ABBR, ACRONYM, ADDRESS, BIG, CITE, CODE, DEL, DFN,
EM, FONT, IMG, INS, KBD, Q, S, SAMP, SMALL, STRIKE, STRONG, SUB, SUP,
TT, VAR, HR, B, U, I, CENTER, DL, DT, DD, OL, UL, LI, FIELDSET, FORM,
LABEL, LEGEND, TABLE, CAPTION, TBODY, TFOOT, THEAD, TR, TH, TD {
    padding: 0;
    margin: 0;
    border: none;
}

OBJECT {
    display: block;
}

IMG {
    vertical-align: middle;
}

/* Body settings */
BODY {
    background: #F0F1EB;
    color: #000;
    font-family: Arial, "sans serif";
    -webkit-font-smoothing: antialiased;
}

/* Link states */
A {
    outline-style: none;
    color: #03a4d8;
}

A:HOVER {
    color: #016ec1;
}



label {
    display: inline-block;
    color: #777;
    margin: 0 0 10px;
}

select {
    display: block;
    width: 100%;
}

.b-content {
    margin: 60px;
    padding: 80px 80px 80px 140px;
    width: 60%;
    font: normal 14px/18px 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
    background: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35), 0 0 1px rgba(255, 255, 255, 0.15) inset;
}

.b-content__title {
    margin: 0 0 40px;
    font: normal 40px/40px 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
}

.b-content P {
    margin: 0 0 20px;
}

.b-content H2,
.b-content H3 {
    margin: 15px 0 30px;
}

.b-content OL, .b-content UL {
    margin: 0 0 40px;
}

.b-row {
    margin: 15px 0 45px -60px;
    padding: 30px 0 30px 59px;
    border: 1px solid #ccc;
}

.b-code-block {
    background: none repeat scroll 0 0 #E6E6E6;
    border-left: 1px solid #D9D4D3;
    clear: both;
    color: #533D3A;
    counter-reset: code;
    font: 12px/20px Consolas,monospace;
    margin: 0 0 15px -60px;
    padding: 12px 0 12px 59px;
    white-space: normal;
}

.b-code-block CODE:before {
    color: #B3A9A7;
    content: counter(code, decimal-leading-zero) ".";
    counter-increment: code;
    margin-left: -35px;
    position: absolute;
}

.b-code-block CODE {
    display: block;
    padding: 0;
    white-space: pre-wrap;
}