/* <meta name="viewport" content="user-scalable=yes, initial-scale=1.0, maximum-scale=4.0, minimum-scale=1.0, width=device-width" /> */

/* <link href='../font.css' rel='stylesheet' type='text/css'/> */ /* To Use */

/*
@media screen and (max-width: 380px) {
word-wrap { width:320px }
body { width:320px; margin:0 auto; }
}

@media screen and (min-width: 381px) and (max-width: 640px) {
word-wrap { width:480px }
body { width:480px; margin:0 auto; }
}

@media screen and (min-width: 641px) {
word-wrap { width:880px }
body { width:880px; margin:0 auto; }
}
*/

@font-face {
    font-family: 'unifont';
    src: url('unifont.ttf');
}

body {
    font-family: 'unifont';
}
