input,div,td,form,span,img, .cbody {margin:0}
body {color:#222222; font-family:Gulim}
td, div, textarea {font-size:9pt}
input, select {font-family:Gulim; font-size:12px; letter-spacing:-1px}
.bdo {line-height:160%} /* 게시물본문 */
.bdo a:link {text-decoration:underline; color:#575757}
.bdo a:visited {text-decoration:underline; color:#575757}
.bdo a:hover {text-decoration:underline; color:#FF6633}
.gthumb_100 {width:95px; height:95px; border:5px solid #F1F1F1; padding:3px}
a {letter-spacing:0}
a:link {text-decoration:none; color:#222222}
a:visited {text-decoration:none; color:#222222}
a:hover {text-decoration:underline; color:#9A9487}
a:active {text-decoration:underline; color:#9A9487}
#bd_main, .head_view {text-align:left; table-layout:fixed; clear:both} /*목록테이블 본문테이블*/
.head_all {width:100%; text-align:left; table-layout:fixed; clear:both} /*대문테이블*/
.title_list td {height:33px; font-weight:bold; color:#FFFFFF; text-align:center} /*목록타이틀*/
.title_view {height:33px; font-weight:bold; padding-right:10px;text-align:center; color:#FFFFFF; overflow:hidden; white-space:nowrap} /*본문타이틀*/
.title_tr td {height:26px; color:#0F408F; border-bottom:1px solid #0F408F} /*대문타이틀*/
.title_tr td.title_td {text-align:left; border-bottom:1px solid #0F408F}
.title_list a:link, .title_list a:visited, .title_list a:active, .title_list a:hover {color:#FFFFFF} /*목록타이틀*/
.title_view a:link, .title_view a:visited, .title_view a:active, .title_view a:hover {color:#FFFFFF} /*본문타이틀*/
#bd_main a.mbnick {font-size:11px}  /*목록회원닉*/
#bd_main a.nick {font-size:11px; color:#737373}  /*목록비회원닉*/

.head_tr td {background:#3683AD url('t.png') repeat-x 50% 0%; text-align:center}
.left10 td {text-align:left}
.left10 td.list_tf {width:10px; height:33px}
td.list_tf {background:url('tl.png') no-repeat 0% 0%}
.head_tr div.btw {border-style:solid; border-color:#305E77 #49A9DD #49A9DD #305E77;border-width:1px; float:right; height:12px; width:0px; margin:0}
.head_tr div {text-align:center}
td.list_th div.btw {border:0}
.list_td td {height:27px; text-align:center}
.nobr img,.nobr a {vertical-align:middle}
.name {height:30px} /*본문 이름날짜tr*/
.bge61 {background-color:#E6E6E6; height:1px}
.listcmt {display:none; width:100%; height:0}
.b_memo {vertical-align:top; padding:10px 10px 10px 20px}
.c_td {padding:8px 0 7px 0}
.c_thumb {width:120px}
.t8 {font-family:Dotum; font-size:11px}
.ct8 {font-family:Dotum; font-size:11px; color:#858585} /*목록 분류이름*/
.f8 {font-family:verdana,Gulim; font-size:10px; letter-spacing:-1px}
.menu20 .f8 {font-family:Gulim; font-size:11px}
.r8 {font-family:verdana,Dotum; font-size:11px; letter-spacing:-1px; color:#FF6633}
.f7 {font-family:tahoma,Dotum; font-size:7pt}
.r7 {font-family:tahoma,Dotum; font-size:9px; color:#FF6633}
.t7 {font-family:verdana,Dotum; font-size:6pt; letter-spacing:-1px; color:#FF6633}
.w8 {font-size:11px; color:#858585}
td.w8 input {background:url('../../icon/b3.png') 0% 90%; font-size:8pt}
.rr7 {background-color:#FF7142; color:#FFFFFF; font-family:tahoma,Dotum; font-size:7pt; padding:0 2px 0 2px; font-weight:bold; border:1px solid #FFDD63}
.rb7 {font-size:9px; font-family:verdana,Dotum; font-weight:bold; color:#FF0000}
.gdate {font-size:9px; font-family:verdana,Dotum; padding:3px; font-weight:bold; color:#C9C9C9}
.n8 {font-family:verdana,Dotum; font-size:11px; letter-spacing:-1px; color:#AAAAAA}  /* 미리보기 글쓴이 */
.keyword {background-color:yellow; color:#C73636}
a.rpbt {float:left; cursor:pointer; text-align:center; background:url('../../icon/bt2.gif') no-repeat 0% 0%; padding-top:1px; width:17px; height:16px; margin-right:5px; text-decoration:none}
a.rpbt span {cursor:pointer; color:#414141; font-family:verdana,Dotum; font-size:11px}
a.rpbt img {border:0; padding-top:4px; height:8px; width:8px}
.rvote a, .rvote a:link, .rvote a:visited {color:#FF4F14; font-size:8pt; display:block; padding:4px; text-decoration:none}
.rvote a:hover, .rvote a:active {background:url('../../icon/b3.png'); text-decoration:none; padding:3px; border:1px solid #D7D7D7}
.rvote span {color:#444444; margin-right:3px}
.rvote img {margin-right:3px; padding-top:2px; height:10px; width:10px}
.gate_2 {padding:5px; border-bottom:1px solid #EEE; line-height:130%}
.gate_2 a.lnk {font-family:'Malgun Gothic'; font-size:14px; font-weight:bold; color:#6E6E6E}
.gate_2 .f7 {color:#999}
.gate_3 .f7 {color:#EC8600}
.gate_3 .r7 img {width:8px; height:8px}
.gate_2 .memo {font-family:Dotum; font-size:9pt; color:#888; line-height:16px; padding:2px 0 0 2px}
.gate_2 .gthumb_100 {float:left; margin-right:10px; width:85px; height:70px; padding:2px; margin-bottom:0px; border:1px solid #EEE}
.gate_2:hover {border:1px solid #A7BFD2; background:#FAFDFF; padding:4px 4px 5px 4px}
.gate_3 {width:80px; height:130px; float:left; text-align:center; cursor:pointer}
.gate_3 .gthumb_100 {width:60px;height:60px;border:5px solid #F0F0F0;}
.gname a.nick {color:#54564B}
.sbjt_g {font-family:Gulim; font-size:9pt; border:0; letter-spacing:0; width:79px; margin-top:2px; padding:0; color:#000000; background-color:transparent; cursor:pointer}
.thumbdiv_150 {float:left; width:120px; height:190px; text-align:center; line-height:130%}
.thumbdiv_150 .nick {font-family:Dotum; font-size:11px; color:#2A8187}
.more {border-style:solid; border-width:0 0 3px 0; cursor:pointer} /*more/less*/
.less {border-style:dashed; border-width:1px; padding:10px 10px 10px 20px} /*more/less*/
.prev {position:absolute; z-index:3; background-color:#FFFFFF; padding:5px 10px 5px 10px; border:4px solid #8CB8FF; text-align:left; line-height:150%} /*글쓴이 클릭팝업*/
.prev div {width:80px}
.prev span {font-size:7px;color:#FF6633;vertical-align:middle}
.prev a {text-decoration:none; color:#000000}
.prev a:link,.prev a:visited {font-weight:normal}
.prev a:hover,.prev a:active {font-weight:bold} /*글쓴이 클릭팝업*/
.td12 {background-color:#D7D7D7; width:1px} /*덧글 이름|내용 사이*/
.pass {border-style:solid; border-width:6px; border-color:#F7F7F7 #878787 #878787 #F7F7F7; text-align:center; background-color:#EAEAEA}  /*비밀번호박스테이블*/
#pview {z-index:8; position:absolute; top:0; left:0; width:300px; overflow:hidden; padding:5px; text-align:left; border:1px solid #878787; background-color:#FCFDFC} /*미리보기박스*/
#pview .gthumb_100 {border-color:#E6E6E6; float:left; margin:0 10px 10px 0}
#img {z-index:9; position:absolute; top:0; left:0; text-align:center} /*팝업 이미지박스*/
.img {border-style:solid; border-width:6px; border-color:#F7F7F7 #878787 #878787 #F7F7F7; background-color:#FFFFFF} /*팝업 이미지*/
.nobgcolor {background:none}
#login {background-color:#F7F7F7; padding:5px; text-align:right} /*목록하단 로그인박스*/
.login {width:80px; font-size:11px; border:0; border-width:0 0 1px 0; border-style:solid; border-color:black; background-color:#F7F7F7} /*목록하단 로그인*/
#tag {background-color:#F7F7F7; text-align:right} /*목록하단 태그박스*/
.comment {width:100%; border-top:1px solid #D7D7D7; background-color:#F7F7F7; table-layout:fixed; padding:5px 0 5px 5px}
.comment .f8 {font-size:11px} /*코멘트작성테이블*/
.sbmt {letter-spacing:1px; font-family:verdana,Gulim; margin-bottom:10px; font-size:13px; width:70px; height:50px; background:url('../../icon/c70.png'); border:0} /*코멘트쓰기버튼*/
.uplist {padding:10px 0 0 10px; width:98%} /*본문에 업로드파일박스*/
.uplist a {font-family:verdana,Dotum; font-size:11px; letter-spacing:-1px} /*본문에 업로드파일링크*/
.rsslink {font-family:Dotum; font-size:11px; color:#FF6633} /*본문에 링크*/
.tagg {text-align:left; padding:5px} /*본문에 태그*/
.tagg img {vertical-align:middle}
.tagg a {font-family:Dotum; font-size:11px} /*본문에 태그검색링크*/
.ctg {font-family:Dotum; font-size:9pt} /*본문에 분류링크*/
.hits {font-family:Dotum; font-size:9pt; padding-right:5px} /*본문에 조회날짜td*/
.count {font-size:9pt; margin-top:50px; text-align:center; font-family:verdana,Gulim; color:#FAFAFA}
.count a:link, .count a:visited, .count a:active, .count a:hover {color:#FAFAFA}
.quot {background-color:#F8F8F8; margin:40px 10px 0 30px; padding:10px; border:1px solid #B9B2AB}  /*답글에서 본문인용박스*/
.quot2 {border-top:1px dashed #B9B2AB; margin:5px}  /*답글에서 인용한본문*/
.p_no {color:#FF6633; font-weight:bold}   /*목록번호*/
.sbjt_b {font-weight:bold}
.memo_c {vertical-align:top; padding-top:10px; padding-bottom:10px; max-height:91px; overflow:hidden; line-height:130%}
.btw {margin:0 5px 0 5px; color:#C9C9C9}  /*본문형 목록 글제목*/
.mblv {vertical-align:middle;margin-right:3px; border:0; height:12px}  /*회원레벨이미지*/
.icos {vertical-align: middle; margin-right: 3px; width:18px; height:18px; border:0} /*글쓴이 이미지*/
.sign {border:1px solid #D7D7D7; padding:5px; margin:5px 0 5px 0} /*본문글쓴이 서명*/
.rptb {border:1px solid #E3E3E3; padding:7px 0 7px 30px; margin:5px 0 5px 0; color:#666666}
.rpname img {vertical-align:bottom}
.cbody a.nick, .cbody .nick {font-family:verdana,Gulim; color:#3B5C44}
.rplnkb {color:#77D04D; font-size:9pt; font-weight:bold; text-decoration:underline}
.rpmemo {line-height:140%; padding-top:3px; min-height:37px}
.rrpw {clear:both; display:none; margin-left:25px}
.rpdiv {margin:5px 0 5px 0; padding:7px 0 7px 7px; border-top:1px solid #E3E3E3}
.rrpdiv {padding:7px 0 7px 7px; background-color:#F7F7F7}
.seltdrp {background:#FDF9D2}
.name_b {background-color:#F3F3F3; border-bottom:1px solid #47A5D6; height:25px; font-family:Arial} /*본문형목록 이름날짜*/
.rpatb {background-color:#F3F3F3; border-top:1px solid #47A5D6; height:20px; padding:5px 10px 5px 10px}
.rpatb img {border:0; vertical-align:middle}
.name_c {background-color:#F3F3F3; height:20px; padding-top:5px; font-family:Arial} /*요약형목록 이름날짜*/
.name_d {background-color:#F3F3F3; border-top:1px solid #47A5D6; height:25px; font-family:Arial} /*방명록형목록 이름날짜*/
.cart {height:14px; width:14px; margin:0; padding:0; vertical-align:middle}  /*관리자체크박스*/
.buttcell {height:32px; vertical-align:bottom}
.buttcell a {background:#F9F9F9 url('../../icon/bt.gif') no-repeat 0% 0%; padding-left:5px; margin:2px 0 0 5px; height:22px; text-decoration:none}
.buttcell a:link, .buttcell a:visited, .buttcell a:hover,.buttcell a:active {text-decoration:none}
.buttcell span {float:left; background:#F9F9F9 url('../../icon/bt.gif') no-repeat 100% 0%; cursor:pointer; height:17px; padding:5px 7px 0 3px; color:#222222}
.buttcell span:active {height:16px; padding:6px 6px 0 4px}
a.butt4 {float:left}
a.butt5 {float:right}
.abcg {border:0 solid #878787; width:15px; height:13px; vertical-align:middle}
.abcg:active, .aabcg:active img {border-width:1px; width:13px; height:11px}
.pageno {font-family:Dotum; font-size:11px; color:#D6D6D6; text-align:center;letter-spacing:1px}
.pageno a {color:#4B4B4B}
.lkgif, .lkgif:link, .lkgif:visited {vertical-align:middle; height:13px; border:0}
.lkgif:hover, .lkgif:active  {height:15px}/*목록형태아이콘*/
/* 탭형태 최근게시물 시작 */
.tab_top {border-bottom:1px solid #A9B4C5; height:33px; z-index:1; padding-right:10px}
.tab_top .tab_head {float:left; color:#666666; position:relative; top:7px; cursor:pointer; margin-right:2px; z-index:2}
.tab_top .tab_head div {float:left; height:27px; text-align:center; background:url('tab_penta.png') no-repeat}
.tab_top .tab_head a {float:left; height:15px; font-size:9pt; text-decoration:none; font-weight:bold; padding:8px 12px 4px 0px; margin-left:12px; background:url('tab_penta.png') no-repeat}
.tab_list {width:100%; table-layout:fixed; padding:5px 0 5px 0}
.tab_top .theadx div {background-position:0% 100%}
.tab_top .theado div {background-position:0% 0%}
.tab_top .theadx div a {color:#858585; background-position:100% 100%}
.tab_top .theado div a {color:#444444; background-position:100% 0%}
.tlistx {display:none}
.tlisto {display:block}
.tab_div {clear:both; padding:5px; line-height:20px; overflow:hidden}
.tab_div .gthumb_100 {margin:0 13px 8px 5px}
/* 탭형태 최근게시물 끝*/
/* 뉴스형 최근게시물 시작*/
table.newx_1 {}
.newx_1 td {vertical-align:top}
.newx_3 {height:130px; overflow:hidden}
.newx_4 {padding:2px 0 10px 0; line-height:26px}
.newx_4 a {font-family:'Malgun Gothic'; font-size:24px; font-weight:bold; color:#000063}
.newx_2 img {width:180px; height:180px; border:4px solid #FFF; margin:10px}
.newx_2 img:hover {border-color:#FF871B}
.newx_5 {color:#989898}
.newx_6 .gthumb_100 {width:60px; height:60px; border:4px solid #F0F0F0; cursor:pointer; margin:0 4px 4px 4px; float:left}
.newx_6 .gthumb_100h {border-color:#FF871B}
.newx_6 {height:70px}
/* 뉴스형 최근게시물 끝*/
.ipc {float:left; margin-right:5px; color:#CCCCCC}
.d7d {color:#D7D7D7}

#bdo-1 .authority {margin:30px auto}
.bdo .pass {border:5px solid #F1F1F1; background:#FFF; padding:8px}
.authority .pass {border:0; background:#FFF; padding:8px}
.memo_c .authority {margin-top:1px}
#srgate div.nobr {height:20px}
.gthumb_100:hover,.gthumb_100ie6 {border-color:#FF871B; cursor:pointer} 